
// color variables
$header-bg:#D83B3B;
$header-color: black;
$left-col-bg:rgba(212, 181, 176, 0.2);
//fonts
$regular-font: 'Fira Sans', sans-serif;
$right-col-bg:#D3DBFF;
$html-nav-bg:#383E56;
$sass-nav-bg:#F69E7B;
$typescript-nav-bg:#EEDAD1;
$angular-nav-bg:#D4B5B0;
$karma-nav-bg:#C4C4C4;

