// color variables
$header-bg-color: light-blue;
$body-main-bg: grey;
$header-bg: red;

.HTML {
    background-color: #383E56;color: white
  }
  .SASS{
    background-color: #F69E7B;color: white
  }
  .TypeScript{
    background-color: #EEDAD1;color:white
  }
  .Angular{
    background-color: D4B5B0; color: white
  }
  .Karma{
    background-color: #C4C4C4; color:white
  }

body{
    background-color: $body-main-bg;
        header{
            background-color: $header-bg;
            h1{
                color: white;
                text-align: center;
            }
        }
}

